# Aggregations

Spark allows us to create several different grouping types for aggregation. This notebook will discuss some of these grouping and aggregation techniques.

Let's first load some retail data. We have over 300 csv files each representing daily transactions in a retail store:

In [1]:
# the following line gets the bucket name attached to our cluster
bucket = spark._jsc.hadoopConfiguration().get("fs.gs.system.bucket")

# specifying the path to our bucket where the data is located (no need to edit this path anymore)
data = "gs://" + bucket + "/Big-Data-Analytics-for-Business/data/"
print(data)

gs://qst843/Big-Data-Analytics-for-Business/data/

## Data import

In [2]:
df = spark.read.format("csv")\
  .option("header", "true")\
  .option("inferSchema", "true")\
  .load(data + "retail-data/by-day/*.csv")

Here’s a sample of the data:

In [3]:
df.show(5, False)

df.printSchema()

+---------+---------+-------------------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|Description                    |Quantity|InvoiceDate        |UnitPrice|CustomerID|Country       |
+---------+---------+-------------------------------+--------+-------------------+---------+----------+--------------+
|580538   |23084    |RABBIT NIGHT LIGHT             |48      |2011-12-05 08:38:00|1.79     |14075.0   |United Kingdom|
|580538   |23077    |DOUGHNUT LIP GLOSS             |20      |2011-12-05 08:38:00|1.25     |14075.0   |United Kingdom|
|580538   |22906    |12 MESSAGE CARDS WITH ENVELOPES|24      |2011-12-05 08:38:00|1.65     |14075.0   |United Kingdom|
|580538   |21914    |BLUE HARMONICA IN BOX          |24      |2011-12-05 08:38:00|1.25     |14075.0   |United Kingdom|
|580538   |22467    |GUMBALL COAT RACK              |6       |2011-12-05 08:38:00|2.55     |14075.0   |United Kingdom|
+---------+---------+-------------------------------+--------+-------------------+---------+----------+--------------+
only showing top 5 rows

root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: timestamp (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- CustomerID: double (nullable = true)
 |-- Country: string (nullable = true)

`InvoiceDate` is being recognized as string. Let's replace it with a date format. We won't need the timestamp, so it's ok to lose it.

We will also cast `CustomerID` as string and Quantity as long:

In [4]:
from pyspark.sql.functions import col, to_date

df = df.withColumn("InvoiceDate", to_date(col("InvoiceDate"), "yyyy-MM-dd HH:mm:ss"))

df = df.withColumn("CustomerID", col("CustomerID").cast("string"))
df = df.withColumn("Quantity", col("Quantity").cast("long"))

df.createOrReplaceTempView("dfTable")

df.show(5)
df.printSchema()

+---------+---------+--------------------+--------+-----------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-----------+---------+----------+--------------+
|   580538|    23084|  RABBIT NIGHT LIGHT|      48| 2011-12-05|     1.79|   14075.0|United Kingdom|
|   580538|    23077| DOUGHNUT LIP GLOSS |      20| 2011-12-05|     1.25|   14075.0|United Kingdom|
|   580538|    22906|12 MESSAGE CARDS ...|      24| 2011-12-05|     1.65|   14075.0|United Kingdom|
|   580538|    21914|BLUE HARMONICA IN...|      24| 2011-12-05|     1.25|   14075.0|United Kingdom|
|   580538|    22467|   GUMBALL COAT RACK|       6| 2011-12-05|     2.55|   14075.0|United Kingdom|
+---------+---------+--------------------+--------+-----------+---------+----------+--------------+
only showing top 5 rows

root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: long (nullable = true)
 |-- InvoiceDate: date (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- CustomerID: string (nullable = true)
 |-- Country: string (nullable = true)

## Caching

Caching allows the DataFrame to be loaded and persist in the memory. If we don't use this option, every time we execute an action our DataFrame gets loaded from our Cloud Storage, which is not ideal and will add to our execution time:

**Note:** Caching is a lazy transformation. It will happen the first time you execute an action against the DataFrame, not when you cache that DataFrame.

In [5]:
df.cache()

DataFrame[InvoiceNo: string, StockCode: string, Description: string, Quantity: bigint, InvoiceDate: date, UnitPrice: double, CustomerID: string, Country: string]

Basic aggregations apply to an entire DataFrame. The simplest example is the `count` method:

In [6]:
df.count()

541909

It returns the total number of rows in this DataFrame. `count` when used in this context is actually an action, so it returns the output immediately. We will also encounter cases that `count` will be acting as a lazy transformation.

Now that we have performed an action on `df` it should be cached into the memory. Go ahead an execute the previous command again to see the performance gain:

In [7]:
df.count()

541909

Once done with the DataFrame we can free up the memory by removing the cache. This can be done by `unpersist`:
```python
df.unpersist()
```

## Aggregation Functions

All aggregations are available as functions, in addition to the special cases that can appear on DataFrames or via `.stat`. You can find most aggregation functions in the `pyspark.sql.functions` package.

**Note:** There are some gaps between the available SQL functions and the functions that we can import in Scala and Python. This changes every release, so it’s impossible to include a definitive list. This section covers the most common functions.

### `count`
The first function worth going over is `count`, except in this example it will perform as a transformation instead of an action. In this case, we can do one of two things: specify a specific column to count, or all the columns by using `count(*)` or `count(1)` to represent that we want to count every row as the literal one, as shown in this example:

In [8]:
from pyspark.sql.functions import count

df.select(count("StockCode")).show()

+----------------+
|count(StockCode)|
+----------------+
|          541909|
+----------------+

In SQL
```sql
SELECT COUNT(*) FROM dfTable
```

**Warning**

when performing a `count(*)`, Spark will count null values (including rows containing all nulls). However, when counting an individual column, Spark will not count the null values. For instance if we repeate this for "CustomerID" column we will get a different value due to the null values:

In [9]:
df.select(count("CustomerID")).show()

+-----------------+
|count(CustomerID)|
+-----------------+
|           406829|
+-----------------+

### `countDistinct`

Sometimes, the total number is not relevant; rather, it’s the number of unique groups that you want. To get this number, you can use the `countDistinct` function. This is a bit more relevant for individual columns:

In [10]:
from pyspark.sql.functions import countDistinct

df.select(countDistinct("StockCode")).show()

+-------------------------+
|count(DISTINCT StockCode)|
+-------------------------+
|                     4070|
+-------------------------+

In SQL
```sql
SELECT COUNT(DISTINCT *) FROM DFTABLE
```

`approx_count_distinct`: This function can be used to estimate the count distinct. It will give us a lot of performace gain.

### `min` and `max`

To extract the minimum and maximum values from a DataFrame, use the min and max functions:

In [11]:
from pyspark.sql.functions import min, max

df.select(min("Quantity"), max("Quantity")).show()

+-------------+-------------+
|min(Quantity)|max(Quantity)|
+-------------+-------------+
|       -80995|        80995|
+-------------+-------------+

### `sum`

Another simple task is to add all the values in a row using the sum function:

In [12]:
from pyspark.sql.functions import sum

df.select(sum("Quantity")).show()

+-------------+
|sum(Quantity)|
+-------------+
|      5176450|
+-------------+

### `avg`

`avg` or `mean` functions:

In [13]:
from pyspark.sql.functions import sum, count, avg, expr

df.select(
    count("Quantity").alias("total_transactions"),
    sum("Quantity").alias("total_purchases"),
    avg("Quantity").alias("avg_purchases"),
    expr("mean(Quantity)").alias("mean_purchases"))\
  .selectExpr(
    "total_purchases/total_transactions",
    "avg_purchases",
    "mean_purchases").show()

+--------------------------------------+----------------+----------------+
|(total_purchases / total_transactions)|   avg_purchases|  mean_purchases|
+--------------------------------------+----------------+----------------+
|                      9.55224954743324|9.55224954743324|9.55224954743324|
+--------------------------------------+----------------+----------------+

### Variance and Standard Deviation

Calculating the mean naturally brings up questions about the variance and standard deviation. These are both measures of the spread of the data around the mean. The variance is the average of the squared differences from the mean, and the standard deviation is the square root of the variance. You can calculate these in Spark by using their respective functions:

In [14]:
from pyspark.sql.functions import variance, stddev

df.select(variance("Quantity"), stddev("Quantity")).show()

+------------------+-----------------+
|var_samp(Quantity)| stddev(Quantity)|
+------------------+-----------------+
| 47559.39140929846|218.0811578502335|
+------------------+-----------------+

Something to note is that Spark has both the formula for the sample standard deviation as well as the formula for the population standard deviation. These are fundamentally different statistical formulae, and we need to differentiate between them. By default, Spark performs the formula for the sample standard deviation or variance if you use the `variance` or `stddev` functions.

You can also specify these explicitly or refer to the population standard deviation or variance:

In [15]:
from pyspark.sql.functions import var_pop, stddev_pop
from pyspark.sql.functions import var_samp, stddev_samp

df.select(var_pop("Quantity"), var_samp("Quantity"),
  stddev_pop("Quantity"), stddev_samp("Quantity")).show()

+------------------+------------------+--------------------+---------------------+
| var_pop(Quantity)|var_samp(Quantity)|stddev_pop(Quantity)|stddev_samp(Quantity)|
+------------------+------------------+--------------------+---------------------+
|47559.303646608765|47559.391409298456|   218.0809566344773|    218.0811578502335|
+------------------+------------------+--------------------+---------------------+

In SQL
```sql
SELECT var_pop(Quantity), var_samp(Quantity),
  stddev_pop(Quantity), stddev_samp(Quantity)
FROM dfTable
```

### Covariance and Correlation

We discussed single column aggregations, but some functions compare the interactions of the values in two difference columns together. Two of these functions are `covar_samp` and `corr`, for covariance and correlation, respectively. Correlation measures the Pearson correlation coefficient, which is scaled between –1 and +1. The covariance is scaled according to the inputs in the data. There also exists a covariance function for the population, covar_pop.

In [16]:
from pyspark.sql.functions import corr, covar_samp

df.select(corr("UnitPrice", "Quantity"), covar_samp("UnitPrice", "Quantity")).show()

+-------------------------+-------------------------------+
|corr(UnitPrice, Quantity)|covar_samp(UnitPrice, Quantity)|
+-------------------------+-------------------------------+
|     -0.00123492454487...|             -26.05876125793664|
+-------------------------+-------------------------------+

## Grouping

Thus far, we have performed only DataFrame-level aggregations. A more common task is to perform calculations based on groups in the data. This is typically done on categorical data for which we group our data on one column and perform some calculations on the other columns that end up in that group.

The best way to explain this is to begin performing some groupings. The first will be a count, just as we did before. We will group by each unique invoice number and get the count of items on that invoice. Note that this returns another DataFrame and is lazily performed.

We do this grouping in two phases. First we specify the column(s) on which we would like to group, and then we specify the aggregation(s). The first step returns a `RelationalGroupedDataset`, and the second step returns a `DataFrame`.

As mentioned, we can specify any number of columns on which we want to group:

In [17]:
df.groupBy("InvoiceNo", "CustomerId")

GroupedData[grouping expressions: [InvoiceNo, CustomerId], value: [InvoiceNo: string, StockCode: string ... 6 more fields], type: GroupBy]

In [18]:
df.groupBy("InvoiceNo", "CustomerId").count().show(5)

+---------+----------+-----+
|InvoiceNo|CustomerId|count|
+---------+----------+-----+
|   576346|   13835.0|    6|
|   570421|   13980.0|   11|
|   574478|   17203.0|   34|
|   580739|      NULL|    2|
|   567695|      NULL|    1|
+---------+----------+-----+
only showing top 5 rows

In SQL
```sql
SELECT InvoiceNo, CustomerId, count(*) FROM dfTable GROUP BY InvoiceNo, CustomerId
```

## Grouping with Expressions

As we saw earlier, counting is a bit of a special case because it exists as a method. For this, usually we prefer to use the `count` function. Rather than passing that function as an expression into a `select` statement, we specify it as within `agg`. This makes it possible for you to pass-in arbitrary expressions that just need to have some aggregation specified. You can even do things like `alias` a column after transforming it for later use in your data flow:

In [19]:
from pyspark.sql.functions import count, expr

df.groupBy("InvoiceNo")\
  .agg(count("Quantity").alias("quan"),
       expr("count(Quantity) as quan2")
      ).show(5)

+---------+----+-----+
|InvoiceNo|quan|quan2|
+---------+----+-----+
|   578057|  28|   28|
|  C578132|   1|    1|
|   576112|  20|   20|
|   580739|   2|    2|
|   567695|   1|    1|
+---------+----+-----+
only showing top 5 rows

In [20]:
df.groupBy("InvoiceNo").agg(expr("avg(Quantity)"),expr("stddev_pop(Quantity)")).show(5)

+---------+-----------------+--------------------+
|InvoiceNo|    avg(Quantity)|stddev_pop(Quantity)|
+---------+-----------------+--------------------+
|   578057|4.607142857142857|   8.755974636597271|
|  C578132|             -1.0|                 0.0|
|   576112|             10.9|  7.4959989327640635|
|   580739|              2.5|                 0.5|
|   567695|            -42.0|                 0.0|
+---------+-----------------+--------------------+
only showing top 5 rows

## Window Functions

Window functions operate on a set of rows and return a single value for each row from the underlying query. The term window describes the set of rows on which the function operates. A window function uses values from the rows in a window to calculate the returned values.

The following SQL query adds a new column (`overall_dataset_Q`) that includes the overall quantity for the entire dataset. This value will be the same for all the rows:

In [21]:
spark.sql("""
SELECT CustomerId, InvoiceDate, Quantity,

  sum(Quantity) OVER () as overall_dataset_Q
  
FROM dfTable WHERE CustomerId IS NOT NULL 
ORDER BY CustomerId, InvoiceDate DESC
""").show(5)

25/10/20 18:19:17 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/10/20 18:19:17 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/10/20 18:19:17 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/10/20 18:19:17 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/10/20 18:19:17 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/10/20 18:19:18 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/10/20 18:19:18 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+----------+-----------+--------+-----------------+
|CustomerId|InvoiceDate|Quantity|overall_dataset_Q|
+----------+-----------+--------+-----------------+
|   12346.0| 2011-01-18|   74215|          4906888|
|   12346.0| 2011-01-18|  -74215|          4906888|
|   12347.0| 2011-12-07|      12|          4906888|
|   12347.0| 2011-12-07|      24|          4906888|
|   12347.0| 2011-12-07|       6|          4906888|
+----------+-----------+--------+-----------------+
only showing top 5 rows

`OVER()` clause indicates that we want to use a window over the `sum()` expression. 

The `OVER()` clause has the following capabilities:

* Defines window partitions to form groups of rows. (`PARTITION BY` clause)
* Orders rows within a partition. (`ORDER BY` clause)

In the above query since we haven't defined a `PARTITION` within `OVER()` the aggregating function applies to the entire dataset.

We can do a lot more useful calculations with the window functions. For instance, we can add a total quantity per customer and a total quantity per customer by date, specifying the appropriate `PARTITION`s:

In [22]:
spark.sql("""
SELECT CustomerId, InvoiceDate, Quantity,

  sum(Quantity) OVER () as overall_dataset_Q,
  
  sum(Quantity) OVER (PARTITION BY CustomerId) as total_Q,
  
  sum(Quantity) OVER (PARTITION BY CustomerId, InvoiceDate) as total_Q_by_date
  
FROM dfTable WHERE CustomerId IS NOT NULL 
ORDER BY CustomerId, InvoiceDate DESC
""").show()

25/10/20 18:19:19 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/10/20 18:19:19 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/10/20 18:19:19 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/10/20 18:19:19 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/10/20 18:19:20 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/10/20 18:19:20 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+----------+-----------+--------+-----------------+-------+---------------+
|CustomerId|InvoiceDate|Quantity|overall_dataset_Q|total_Q|total_Q_by_date|
+----------+-----------+--------+-----------------+-------+---------------+
|   12346.0| 2011-01-18|   74215|          4906888|      0|              0|
|   12346.0| 2011-01-18|  -74215|          4906888|      0|              0|
|   12347.0| 2011-12-07|      12|          4906888|   2458|            192|
|   12347.0| 2011-12-07|       6|          4906888|   2458|            192|
|   12347.0| 2011-12-07|      24|          4906888|   2458|            192|
|   12347.0| 2011-12-07|      24|          4906888|   2458|            192|
|   12347.0| 2011-12-07|      24|          4906888|   2458|            192|
|   12347.0| 2011-12-07|      24|          4906888|   2458|            192|
|   12347.0| 2011-12-07|      10|          4906888|   2458|            192|
|   12347.0| 2011-12-07|      12|          4906888|   2458|            192|
|   12347.0| 2011-12-07|      16|          4906888|   2458|            192|
|   12347.0| 2011-12-07|      20|          4906888|   2458|            192|
|   12347.0| 2011-12-07|      20|          4906888|   2458|            192|
|   12347.0| 2011-10-31|       4|          4906888|   2458|            676|
|   12347.0| 2011-10-31|      12|          4906888|   2458|            676|
|   12347.0| 2011-10-31|       8|          4906888|   2458|            676|
|   12347.0| 2011-10-31|      12|          4906888|   2458|            676|
|   12347.0| 2011-10-31|      12|          4906888|   2458|            676|
|   12347.0| 2011-10-31|      10|          4906888|   2458|            676|
|   12347.0| 2011-10-31|      20|          4906888|   2458|            676|
+----------+-----------+--------+-----------------+-------+---------------+
only showing top 20 rows

Using `ORDER BY` clause we can sort the rows within the `PARTITION`s and then use the `rank()` function to give them a ranking:

In [23]:
spark.sql("""
SELECT CustomerId, InvoiceDate, Quantity,

  sum(Quantity) OVER () as overall_dataset_Q,
  
  sum(Quantity) OVER (PARTITION BY CustomerId) as total_Q,
  
  sum(Quantity) OVER (PARTITION BY CustomerId, InvoiceDate) as total_Q_by_date,
  
  RANK() OVER (PARTITION BY CustomerId, InvoiceDate 
               ORDER BY Quantity DESC) as rank
  
FROM dfTable WHERE CustomerId IS NOT NULL 
ORDER BY CustomerId, InvoiceDate DESC, rank
""").show()

25/10/20 18:19:22 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/10/20 18:19:22 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/10/20 18:19:22 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/10/20 18:19:22 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/10/20 18:19:22 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/10/20 18:19:22 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+----------+-----------+--------+-----------------+-------+---------------+----+
|CustomerId|InvoiceDate|Quantity|overall_dataset_Q|total_Q|total_Q_by_date|rank|
+----------+-----------+--------+-----------------+-------+---------------+----+
|   12346.0| 2011-01-18|   74215|          4906888|      0|              0|   1|
|   12346.0| 2011-01-18|  -74215|          4906888|      0|              0|   2|
|   12347.0| 2011-12-07|      24|          4906888|   2458|            192|   1|
|   12347.0| 2011-12-07|      24|          4906888|   2458|            192|   1|
|   12347.0| 2011-12-07|      24|          4906888|   2458|            192|   1|
|   12347.0| 2011-12-07|      24|          4906888|   2458|            192|   1|
|   12347.0| 2011-12-07|      20|          4906888|   2458|            192|   5|
|   12347.0| 2011-12-07|      20|          4906888|   2458|            192|   5|
|   12347.0| 2011-12-07|      16|          4906888|   2458|            192|   7|
|   12347.0| 2011-12-07|      12|          4906888|   2458|            192|   8|
|   12347.0| 2011-12-07|      12|          4906888|   2458|            192|   8|
|   12347.0| 2011-12-07|      10|          4906888|   2458|            192|  10|
|   12347.0| 2011-12-07|       6|          4906888|   2458|            192|  11|
|   12347.0| 2011-10-31|      48|          4906888|   2458|            676|   1|
|   12347.0| 2011-10-31|      36|          4906888|   2458|            676|   2|
|   12347.0| 2011-10-31|      36|          4906888|   2458|            676|   2|
|   12347.0| 2011-10-31|      24|          4906888|   2458|            676|   4|
|   12347.0| 2011-10-31|      24|          4906888|   2458|            676|   4|
|   12347.0| 2011-10-31|      24|          4906888|   2458|            676|   4|
|   12347.0| 2011-10-31|      24|          4906888|   2458|            676|   4|
+----------+-----------+--------+-----------------+-------+---------------+----+
only showing top 20 rows

Please notice the behavior of `rank()` when it comes across tied values.

`dense_rank()` returns the rank of rows within a window partition, without any gaps.

`row_number()` returns a sequential number starting at 1 within a window partition. Please note that the ties will be numbered at random. This could have downstream consequences!

In the example below we have added both `dense_rank()` and `row_number()` to the previous query:

In [24]:
spark.sql("""
SELECT CustomerId, InvoiceDate, Quantity,

  sum(Quantity) OVER () as overall_dataset_Q,
  
  sum(Quantity) OVER (PARTITION BY CustomerId) as total_Q,
  
  max(Quantity) OVER (PARTITION BY CustomerId) as max_Q,

  sum(Quantity) OVER (PARTITION BY CustomerId, InvoiceDate) as total_Q_by_date,
    
  RANK() OVER (PARTITION BY CustomerId, InvoiceDate 
               ORDER BY Quantity DESC) as rank,
  
  DENSE_RANK() OVER (PARTITION BY CustomerId, InvoiceDate 
                     ORDER BY Quantity DESC) as d_rank,
  
  ROW_NUMBER() OVER (PARTITION BY CustomerId, InvoiceDate 
                     ORDER BY Quantity DESC) as row_number
  
FROM dfTable WHERE CustomerId IS NOT NULL 
ORDER BY CustomerId, InvoiceDate DESC, row_number
""").show()

25/10/20 18:19:26 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/10/20 18:19:26 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/10/20 18:19:26 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/10/20 18:19:26 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/10/20 18:19:27 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/10/20 18:19:27 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+----------+-----------+--------+-----------------+-------+-----+---------------+----+------+----------+
|CustomerId|InvoiceDate|Quantity|overall_dataset_Q|total_Q|max_Q|total_Q_by_date|rank|d_rank|row_number|
+----------+-----------+--------+-----------------+-------+-----+---------------+----+------+----------+
|   12346.0| 2011-01-18|   74215|          4906888|      0|74215|              0|   1|     1|         1|
|   12346.0| 2011-01-18|  -74215|          4906888|      0|74215|              0|   2|     2|         2|
|   12347.0| 2011-12-07|      24|          4906888|   2458|  240|            192|   1|     1|         1|
|   12347.0| 2011-12-07|      24|          4906888|   2458|  240|            192|   1|     1|         2|
|   12347.0| 2011-12-07|      24|          4906888|   2458|  240|            192|   1|     1|         3|
|   12347.0| 2011-12-07|      24|          4906888|   2458|  240|            192|   1|     1|         4|
|   12347.0| 2011-12-07|      20|          4906888|   2458|  240|            192|   5|     2|         5|
|   12347.0| 2011-12-07|      20|          4906888|   2458|  240|            192|   5|     2|         6|
|   12347.0| 2011-12-07|      16|          4906888|   2458|  240|            192|   7|     3|         7|
|   12347.0| 2011-12-07|      12|          4906888|   2458|  240|            192|   8|     4|         8|
|   12347.0| 2011-12-07|      12|          4906888|   2458|  240|            192|   8|     4|         9|
|   12347.0| 2011-12-07|      10|          4906888|   2458|  240|            192|  10|     5|        10|
|   12347.0| 2011-12-07|       6|          4906888|   2458|  240|            192|  11|     6|        11|
|   12347.0| 2011-10-31|      48|          4906888|   2458|  240|            676|   1|     1|         1|
|   12347.0| 2011-10-31|      36|          4906888|   2458|  240|            676|   2|     2|         2|
|   12347.0| 2011-10-31|      36|          4906888|   2458|  240|            676|   2|     2|         3|
|   12347.0| 2011-10-31|      24|          4906888|   2458|  240|            676|   4|     3|         4|
|   12347.0| 2011-10-31|      24|          4906888|   2458|  240|            676|   4|     3|         5|
|   12347.0| 2011-10-31|      24|          4906888|   2458|  240|            676|   4|     3|         6|
|   12347.0| 2011-10-31|      24|          4906888|   2458|  240|            676|   4|     3|         7|
+----------+-----------+--------+-----------------+-------+-----+---------------+----+------+----------+
only showing top 20 rows

A few points regarding ranking functions:

* `ROW_NUMBER()`, `RANK()`, and other ranking functions must always be windowed and therefore cannot appear without a corresponding OVER clause.

* Give consideration to how ties should be handled with ranking functions. If you need contiguous ranking, you should use `DENSE_RANK()` instead.

* The `ORDER BY` predicate is mandatory for this class of functions because it influences how the results will be sequenced or ranked.

### PySpark Syntax

Now that we are familiar with the SQL syntax of window functions let's have a look at its PySpark equivalent.

The first step to a window function is to create a window specification. 

Note that the `partition by` is unrelated to the partitioning scheme concept that we have covered thus far. It’s just a similar concept that describes how we will be breaking up our group. The ordering determines the ordering within a given partition. 

In the following example, we will reproduce our last SQL query:

In [25]:
from pyspark.sql.window import Window
from pyspark.sql.functions import desc

windowSpec0 = Window.partitionBy()
windowSpec1 = Window.partitionBy("CustomerId")
windowSpec2 = Window.partitionBy("CustomerId", "InvoiceDate")
windowSpec3 = Window.partitionBy("CustomerId", "InvoiceDate").orderBy(desc("Quantity"))

Now we want to use an aggregation function to learn more about each specific customer. An example might be establishing the maximum purchase quantity on each day. We indicate the window specification that defines to which frames of data this function will apply:

In [26]:
from pyspark.sql.functions import sum, max, rank, dense_rank, row_number

overall_dataset_Q = sum(col("Quantity")).over(windowSpec0)
total_Q = sum(col("Quantity")).over(windowSpec1)
max_Q = max(col("Quantity")).over(windowSpec1)
total_Q_by_date = sum(col("Quantity")).over(windowSpec2)
rank = rank().over(windowSpec3)
d_rank = dense_rank().over(windowSpec3)
row_number = row_number().over(windowSpec3)

This returns columns that we can use in `select` statements. Now we can perform a select to view the calculated window values:

In [27]:
from pyspark.sql.functions import col

df.where("CustomerId IS NOT NULL")\
  .select(
    col("CustomerId"),
    col("InvoiceDate"),
    col("Quantity"),
    overall_dataset_Q.alias("overall_dataset_Q"),
    total_Q.alias("total_Q"),
    max_Q.alias("max_Q"),
    total_Q_by_date.alias("total_Q_by_date"),
    rank.alias("rank"),
    d_rank.alias("d_rank"),
    row_number.alias("row_number"))\
  .orderBy("CustomerId", desc("InvoiceDate"), "row_number").show()

25/10/20 18:19:29 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/10/20 18:19:29 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/10/20 18:19:29 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/10/20 18:19:29 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/10/20 18:19:29 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/10/20 18:19:29 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+----------+-----------+--------+-----------------+-------+-----+---------------+----+------+----------+
|CustomerId|InvoiceDate|Quantity|overall_dataset_Q|total_Q|max_Q|total_Q_by_date|rank|d_rank|row_number|
+----------+-----------+--------+-----------------+-------+-----+---------------+----+------+----------+
|   12346.0| 2011-01-18|   74215|          4906888|      0|74215|              0|   1|     1|         1|
|   12346.0| 2011-01-18|  -74215|          4906888|      0|74215|              0|   2|     2|         2|
|   12347.0| 2011-12-07|      24|          4906888|   2458|  240|            192|   1|     1|         1|
|   12347.0| 2011-12-07|      24|          4906888|   2458|  240|            192|   1|     1|         2|
|   12347.0| 2011-12-07|      24|          4906888|   2458|  240|            192|   1|     1|         3|
|   12347.0| 2011-12-07|      24|          4906888|   2458|  240|            192|   1|     1|         4|
|   12347.0| 2011-12-07|      20|          4906888|   2458|  240|            192|   5|     2|         5|
|   12347.0| 2011-12-07|      20|          4906888|   2458|  240|            192|   5|     2|         6|
|   12347.0| 2011-12-07|      16|          4906888|   2458|  240|            192|   7|     3|         7|
|   12347.0| 2011-12-07|      12|          4906888|   2458|  240|            192|   8|     4|         8|
|   12347.0| 2011-12-07|      12|          4906888|   2458|  240|            192|   8|     4|         9|
|   12347.0| 2011-12-07|      10|          4906888|   2458|  240|            192|  10|     5|        10|
|   12347.0| 2011-12-07|       6|          4906888|   2458|  240|            192|  11|     6|        11|
|   12347.0| 2011-10-31|      48|          4906888|   2458|  240|            676|   1|     1|         1|
|   12347.0| 2011-10-31|      36|          4906888|   2458|  240|            676|   2|     2|         2|
|   12347.0| 2011-10-31|      36|          4906888|   2458|  240|            676|   2|     2|         3|
|   12347.0| 2011-10-31|      24|          4906888|   2458|  240|            676|   4|     3|         4|
|   12347.0| 2011-10-31|      24|          4906888|   2458|  240|            676|   4|     3|         5|
|   12347.0| 2011-10-31|      24|          4906888|   2458|  240|            676|   4|     3|         6|
|   12347.0| 2011-10-31|      24|          4906888|   2458|  240|            676|   4|     3|         7|
+----------+-----------+--------+-----------------+-------+-----+---------------+----+------+----------+
only showing top 20 rows

## Rollups

A rollup is a multidimensional aggregation that performs a variety of group-by style calculations for us.

Let’s create a rollup that looks across time (with our new `InvoiceDate` column) and space (with the `Country` column) and creates a new DataFrame that includes 
- the grand total over all dates 
- the grand total for each date in the DataFrame 
- and the subtotal for each country on each date in the DataFrame

In [28]:
dfNoNull = df.na.drop()
dfNoNull.createOrReplaceTempView("dfNoNull")

In [29]:
rolledUpDF = dfNoNull.rollup("InvoiceDate", "Country")\
  .agg(sum("Quantity"))\
  .orderBy("InvoiceDate")

rolledUpDF.show(10)

+-----------+--------------+-------------+
|InvoiceDate|       Country|sum(Quantity)|
+-----------+--------------+-------------+
|       NULL|          NULL|      4906888|
| 2010-12-01|        Norway|         1852|
| 2010-12-01|United Kingdom|        21167|
| 2010-12-01|        France|          449|
| 2010-12-01|          NULL|        24032|
| 2010-12-01|       Germany|          117|
| 2010-12-01|          EIRE|          243|
| 2010-12-01|   Netherlands|           97|
| 2010-12-01|     Australia|          107|
| 2010-12-02|          EIRE|            4|
+-----------+--------------+-------------+
only showing top 10 rows

Now where you see the null values is where you’ll find the grand totals:

In [30]:
rolledUpDF.where("Country IS NULL").where("InvoiceDate IS NOT NULL").show(5)

+-----------+-------+-------------+
|InvoiceDate|Country|sum(Quantity)|
+-----------+-------+-------------+
| 2010-12-01|   NULL|        24032|
| 2010-12-02|   NULL|        20855|
| 2010-12-03|   NULL|        11548|
| 2010-12-05|   NULL|        16394|
| 2010-12-06|   NULL|        16095|
+-----------+-------+-------------+
only showing top 5 rows

A null in both rollup columns specifies the grand total across both of those columns:

In [31]:
rolledUpDF.where("InvoiceDate IS NULL").show()

+-----------+-------+-------------+
|InvoiceDate|Country|sum(Quantity)|
+-----------+-------+-------------+
|       NULL|   NULL|      4906888|
+-----------+-------+-------------+

## Cube

A `cube` takes the `rollup` to a level deeper. Rather than treating elements hierarchically, a cube does the same thing across all dimensions. This means that it won’t just go by date over the entire time period, but also the country. To pose this as a question again, can you make a table that includes the following?

* The total across all dates and countries
* The total for each date across all countries
* The total for each country on each date
* The total for each country across all dates

The method call is quite similar, but instead of calling `rollup`, we call `cube`:

In [32]:
from pyspark.sql.functions import sum

cubbedDf = dfNoNull.cube("InvoiceDate", "Country")\
  .agg(sum("Quantity"))\
  .orderBy("InvoiceDate")

cubbedDf.show(5)

+-----------+--------------+-------------+
|InvoiceDate|       Country|sum(Quantity)|
+-----------+--------------+-------------+
|       NULL|         Japan|        25218|
|       NULL|      Portugal|        16044|
|       NULL|United Kingdom|      4008533|
|       NULL|       Finland|        10666|
|       NULL|Czech Republic|          592|
+-----------+--------------+-------------+
only showing top 5 rows

In [33]:
cubbedDf.where("Country IS NULL").show(5)

+-----------+-------+-------------+
|InvoiceDate|Country|sum(Quantity)|
+-----------+-------+-------------+
|       NULL|   NULL|      4906888|
| 2010-12-01|   NULL|        24032|
| 2010-12-02|   NULL|        20855|
| 2010-12-03|   NULL|        11548|
| 2010-12-05|   NULL|        16394|
+-----------+-------+-------------+
only showing top 5 rows

It’s a great way to create a quick summary table that others can use later on.

## Pivot

Pivots make it possible for you to convert a row into a column. For example, in our current data we have a `Country` column. With a `pivot`, we can aggregate according to some function for each of those given countries and display them in an easy-to-query way:

In [34]:
df.printSchema()

root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: long (nullable = true)
 |-- InvoiceDate: date (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- CustomerID: string (nullable = true)
 |-- Country: string (nullable = true)

In [35]:
pivoted = df.groupBy("InvoiceDate").pivot("Country").sum()

This DataFrame will now have a column for every combination of country, numeric variable, and a column specifying the date. For example, for USA we have the following columns: USA_sum(Quantity), and USA_sum(UnitPrice). This represents one for each numeric column in our dataset (because we just performed an aggregation over all of them).

Here’s an example query and result from this data:

In [42]:
pivoted.limit(5).toPandas()

,InvoiceDate,Australia_sum(Quantity),Australia_sum(UnitPrice),Austria_sum(Quantity),Austria_sum(UnitPrice),Bahrain_sum(Quantity),Bahrain_sum(UnitPrice),Belgium_sum(Quantity),Belgium_sum(UnitPrice),Brazil_sum(Quantity),...,Switzerland_sum(Quantity),Switzerland_sum(UnitPrice),USA_sum(Quantity),USA_sum(UnitPrice),United Arab Emirates_sum(Quantity),United Arab Emirates_sum(UnitPrice),United Kingdom_sum(Quantity),United Kingdom_sum(UnitPrice),Unspecified_sum(Quantity),Unspecified_sum(UnitPrice)
0,2010-12-01,107.0,73.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,23949,12428.08,NaN,NaN
1,2011-04-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7935,3592.40,NaN,NaN
2,2011-08-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10092,15480.07,NaN,NaN
3,2011-04-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,17098,4042.97,NaN,NaN
4,2011-08-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,9960,3631.15,NaN,NaN

In [43]:
pivoted.where("InvoiceDate > '2011-12-05'").limit(5).toPandas()

,InvoiceDate,Australia_sum(Quantity),Australia_sum(UnitPrice),Austria_sum(Quantity),Austria_sum(UnitPrice),Bahrain_sum(Quantity),Bahrain_sum(UnitPrice),Belgium_sum(Quantity),Belgium_sum(UnitPrice),Brazil_sum(Quantity),...,Switzerland_sum(Quantity),Switzerland_sum(UnitPrice),USA_sum(Quantity),USA_sum(UnitPrice),United Arab Emirates_sum(Quantity),United Arab Emirates_sum(UnitPrice),United Kingdom_sum(Quantity),United Kingdom_sum(UnitPrice),Unspecified_sum(Quantity),Unspecified_sum(UnitPrice)
0,2011-12-09,NaN,NaN,NaN,NaN,NaN,NaN,203.0,32.22,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,9534,8713.70,NaN,NaN
1,2011-12-06,NaN,NaN,NaN,NaN,NaN,NaN,396.0,199.26,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,27191,9512.65,NaN,NaN
2,2011-12-08,NaN,NaN,148.0,64.58,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-196.0,13.75,NaN,NaN,32576,21259.84,NaN,NaN
3,2011-12-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,27611,7501.39,NaN,NaN

In [38]:
pivoted.where("InvoiceDate > '2011-12-01'").select("InvoiceDate" ,"United Kingdom_sum(Quantity)").show()

+-----------+----------------------------+
|InvoiceDate|United Kingdom_sum(Quantity)|
+-----------+----------------------------+
| 2011-12-09|                        9534|
| 2011-12-02|                       24457|
| 2011-12-04|                       10816|
| 2011-12-05|                       42414|
| 2011-12-06|                       27191|
| 2011-12-08|                       32576|
| 2011-12-07|                       27611|
+-----------+----------------------------+